@import './variables.css';
@import './themes.css';
@import './layout.css';
@import './components.css';
@import './cta.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-gray-50);
  color: var(--color-gray-900);
  line-height: 1.5;
}

#root {
  min-height: 100vh;
}

