.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout-body {
  display: flex;
  flex: 1;
}

.layout-main {
  flex: 1;
  padding: var(--spacing-2xl);
  overflow-y: auto;
  background: var(--bg-secondary);
}

